extends layout

block content
  .container
    section.row
      .col 
 
    .row
      // Column 1: Sensor Data Table
      .col-md-8
        h2 AHRS/Depth Sensor Data
        //img(src="./img/rosette.png")
        table.table.table-bordered.table-striped.table-shadow
          thead
            tr
              th Sensor
              th Time
              th DepthRoll
              th Roll
              th Pitch
              th Yaw
          tbody
            tr
              th#botDpth Bottom
              td#tsFmt0
              td#depth0 0
              td#roll0 0
              td#pitch0 0
              td#yaw0 0
            tr
              th#topDpth Top
              td#tsFmt1
              td#depth1 0
              td#roll1 0
              td#pitch1 0
              td#yaw1 0
         
        h2.mt-3 Tracker Data
        table.table.table-shadow.table-bordered.table-striped
          tr
            th Tracker
            th Time
            th X
            th Y
            th Z
            th Integrity
            th RSSI
            th tdiff

          each val in [1, 2, 3, 4, 5, 6, 7]
            tr
              th( id="T00" + val)= "00" + val
              td( id="tsFmt00" + val )
              td( id="X00" + val )
              td( id="Y00" + val )
              td( id="Z00" + val )
              td( id="Integrity00" + val )
              td( id="RSSI00" + val )
              td.text-end( id="tsDiff00" + val )
  script.

    $( document ).ready( () => {
        console.log('calling')
        get_xhr_data(1000,"/status/xhr");
    })
